<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.13.2/lib/theme-chalk/index.min.css">
</head>
<body>
<div id="app">
    <el-form ref="form" label-width="200px" :model="formData" :rules="rules">

        <el-form-item label="姓名" prop="name" :rules="[{required:true,message:'不能为空'},{trigger:'blur',min:3,max:5,message:'必须是3-5个字符'}]">
            <el-input v-model="formData.name"></el-input>
        </el-form-item>

<!--        todo-->
        <el-form-item label="年龄" prop="age" :rules="[{required:true,message:'不能为空'},{type:'number'},{trigger:'blur',validator(rule,value,callback){setTimeout(()=>{if(value<18){callback(new Error('18+'));}callback();},1000)}}]">
            <el-input v-model.number="formData.age"></el-input>
        </el-form-item>

        <el-form-item label="密码" prop="pass">
            <el-input v-model="formData.pass"></el-input>
        </el-form-item>

        <el-form-item label="确认密码" prop="checkPass">
            <el-input v-model="formData.checkPass"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button @click="submit">确定</el-button>
            <el-button @click="formData={}">取消</el-button>
        </el-form-item>

    </el-form>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.20.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/element-ui@2.13.2/lib/index.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mockjs@1.1.0/dist/mock.min.js"></script>
<script>
    new Vue({
        data: {
            formData: {}
        },
        methods: {
            submit() {
                this.$refs.form.validate(valid => {
                    if (valid) {
                        alert('yes');
                    } else {
                        alert('no');
                    }
                });
            },
        }
    }).$mount('#app')
</script>
</html>