<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.13.2/lib/theme-chalk/index.min.css">
</head>
<body>
<div id="app">
    <el-form :model="formData" :rules="[]" label-width="200px">
        <el-row>
            <el-col :span="12">
                <el-form-item label="姓名" prop="name">
                    <el-input v-model="formData.name"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="12">
                <el-form-item label="年龄" prop="age">
                    <el-input v-model="formData.age"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-form-item>
            <el-button @click="smt">确定</el-button>
            <el-button @click="cln">取消</el-button>
        </el-form-item>
    </el-form>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.20.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/element-ui@2.13.2/lib/index.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mockjs@1.1.0/dist/mock.min.js"></script>
<script>
    new Vue({
        data: {
            formData: {
                name: '',
                age: ''
            }
        },
        methods: {
            smt: function () {
            },
            cln: function () {
            },
        }
    }).$mount('#app')
</script>
</html>